body,p,h1,h2,h3,h4,h5,h6,ul,dl,ol,dt,dd,li {
	margin: 0;
	padding: 0;
	list-style: none;

	font-family: "微软雅黑";
	color: #050505;
	font-size: 14px;
}

a {
	text-decoration: none;
	color:#050505;
	color: inherit;
}

a:hover {
	color: burlywood;
}


input,img {
	border: 0  none;
	outline-style: none;
	padding: 0;
	
	/* 解决底部3像素空白 */
	vertical-align: bottom;
	/* display: block; */
}


.cleafix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.cleafix {
	zoom: 1;
}


.left {
	float: left;
}

.right {
	float: right;
}


.wrap{width:1258px; 
    height:100%;
     margin:0 auto;
     position:relative;}